{
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "env": {
    "node": true,
    "es6": true
  },
  "globals": {
    "ServiceError": true
  },
  "rules": {
    "no-dupe-class-members": "error",
    "generator-star-spacing": [
      "error",
      {
        "before": false,
        "after": true
      }
    ],
    "no-whitespace-before-property": "error",
    "no-cond-assign": "error",
    "no-console": 1,
    "no-constant-condition": "error",
    "no-delete-var": "error",
    "no-dupe-args": "error",
    "no-dupe-keys": "error",
    "no-duplicate-case": "error",
    "no-empty": "warn",
    "no-empty-character-class": "error",
    "no-extra-bind": "error",
    "no-extra-semi": "error",
    "no-extra-parens": "warn",
    "no-fallthrough": "error",
    "no-func-assign": "error",
    "no-invalid-regexp": "error",
    "no-irregular-whitespace": "error",
    "no-multi-spaces": [
      "error",
      {
        "ignoreEOLComments": true
      }
    ],
    "no-new-func": "error",
    "no-new-object": "error",
    "no-path-concat": "error",
    "callback-return": "warn",
    "no-process-exit": "error",
    "no-redeclare": "error",
    "no-shadow": "warn",
    "func-call-spacing": [
      "error",
      "never"
    ],
    "no-trailing-spaces": "error",
    "no-undef": "error",
    "no-unused-vars": [
      "warn",
      {
        "vars": "local",
        "args": "after-used"
      }
    ],
    "no-underscore-dangle": "off",
    "no-use-before-define": [
      "error",
      "nofunc"
    ],
    "arrow-parens": [
      "error",
      "always"
    ],
    "brace-style": [
      "error",
      "1tbs",
      {
        "allowSingleLine": true
      }
    ],
    "camelcase": 0,
    "comma-spacing": [
      "error",
      {
        "before": false,
        "after": true
      }
    ],
    "comma-dangle": [
      "error",
      "never"
    ],
    "consistent-return": "off",
    "consistent-this": [
      "error",
      "self"
    ],
    "curly": [
      "error",
      "all"
    ],
    "dot-notation": [
      "warn",
      {
        "allowKeywords": true
      }
    ],
    "eol-last": "error",
    "eqeqeq": [
      "error",
      "smart"
    ],
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1,
        "MemberExpression": 2,
        "CallExpression": {
          "arguments": 2
        },
        "offsetTernaryExpressions": true
      }
    ],
    "key-spacing": [
      "error",
      {
        "beforeColon": false,
        "afterColon": true
      }
    ],
    "keyword-spacing": "error",
    "new-parens": "error",
    "newline-per-chained-call": "off",
    "no-extra-label": "error",
    "no-unused-labels": "error",
    "no-new-symbol": "error",
    "no-restricted-imports": "off",
    "no-useless-constructor": "warn",
    "template-curly-spacing": [
      "error",
      "never"
    ],
    "operator-linebreak": [
      "error",
      "after"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "always"
    ],
    "space-before-blocks": [
      "error",
      "always"
    ],
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "never",
        "named": "never",
        "asyncArrow": "always"
      }
    ],
    "object-curly-spacing": [
      "error",
      "never"
    ],
    "array-bracket-spacing": [
      "error",
      "never"
    ],
    "computed-property-spacing": [
      "error",
      "never"
    ],
    "space-infix-ops": "error",
    "space-unary-ops": [
      "error",
      {
        "words": true,
        "nonwords": false
      }
    ],
    "spaced-comment": [
      "error",
      "always"
    ],
    "strict": [
      "error",
      "global"
    ],
    "valid-typeof": "error",
    "yoda": [
      "error",
      "never"
    ],
    "no-const-assign": "error",
    "valid-jsdoc": [
      "warn",
      {
        "requireReturn": false,
        "requireReturnDescription": false,
        "requireParamDescription": false,
        "prefer": {
          "returns": "return",
          "Object": "object",
          "Array": "array",
          "Function": "function",
          "Boolean": "boolean",
          "Number": "number",
          "String": "string",
          "Symbol": "symbol"
        }
      }
    ]
  }
}
